*{
    margin: 0px;
    padding: 0px;
}
#carousel_container{
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 10px auto;
}

#carousel_image_wrapper{
    position: absolute;
}


#carousel_image_wrapper img{
    width: 800px;
    height: 300px;
    display: block;
    float: left;
}


#carousel_container_1{
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin-top: 40px;
    margin-left: 10px;
}

#carousel_image_wrapper_1{
    position: absolute;
}


#carousel_image_wrapper_1 img{
    width: 800px;
    height: 300px;
    display: block;
    float: left;
}





@media screen and (min-width: 480px) {
    #carousel_container{
        width: 800px;
        height: 300px;
        position: relative;
        overflow: hidden;
        margin: 10px auto;
    } 
    #carousel_container_1{
        width: 800px;
        height: 300px;
        position: relative;
        overflow: hidden;
        margin-top: 40px;
        margin-left: 630px;
    }    
    
  }