

.logo{
	float:left;
    position: relative;
    bottom: 4px;
}

.search{

	float:left;
    margin: 15px 0 0 14px;
    width: 400px;
        
        
}

.search-form{
	width:55%;
	float:left;
	
	padding-top: 2px;
	background-image: url(../img/active_search_03.png);
	background-repeat:no-repeat;
}
.search-form:active{
    
    background-image:url("../img/empty_search_bg_03.png");
}
.search-form input{
	background: none;
	border: 0px;
	outline: none;
	width:98%;
}
.cross_icon
{

    float: left;
    width: 12.8px;
    
}
.search-icon {

    float: left;
    width: 21px;
}
.search-button{
	width:53px;
    margin-right: 85px;
	float:right;
	background-repeat:no-repeat;
}


.user_content{
	
	float:right;
}
/*
.username{
    
	width:100%;
	margin-top:6px;
	overflow:auto;
} 
*/
.settings{

	clear:both;
    top: 3px;
    right: 8px;
    position: relative;

}
.settings_text{
	font-size: 13px;
	list-style: none;
	padding-left:3px;
	padding-right:3px;
	float:left;
    border-right: 1px solid #000000;
}
.settings_text:last-child{
    border-right: 0px;
}

.settings_text a{
	color: black;
	text-decoration: none;
	
}

.settings-text li{
	padding-left:5px;
	padding-right:5px;
}


.header_bottom_menu{
	max-width: 946px;
	margin: 0 auto;
    padding: 22px 24px 13px 32px;
}
.nav-menu{
	position: relative;
	float:left;
	bottom: 10px;
}
.invite_wrapper{
	width:35%;
	float:right;
	position: relative;
    bottom: 10px;
    letter-spacing: 0.08em;
	
}
.user{
	padding:0px;
	float:right;
	font-family:Arial;
	font-weight:bold;
	font-size:16px;
    position: relative;
    top: 3px;
    right: 8px;
	
}

.nav-menu-text{
	font-size:13px;
	font-family:Arial;
	list-style-type:none;
	margin-left: -15px;	
}
.nav-menu-text li{
	float: left;
}
.nav-menu-text a{
	padding: 0px 15px;
	text-decoration: none;
	display: block;
	color: black;	
}


.invite-req{
	font-size:10px;
	font-family:Arial;
	list-style-type:none;
	
}
.invite-req li{
	
	float: left;
}
.invite{
	background-image:url("../img/invite_box.png");
	background-position:left top;
	background-repeat:no-repeat;
	padding-left:18px;
	margin-right:33px;
    height: 16px;
}
.invite a{
    color: black;
	text-decoration: none;
}

.req{

	background-image:url("../img/req.png");
	background-position:left top;
	background-repeat:no-repeat;
	margin-left:15px;
	padding-left:25px;
	padding-bottom: 5px;
    height: 16px;
}

.req a{
    color: black;
	text-decoration: none;
}


.recent_searches_box{
	line-height: 17px;
}
.recent_searches_box li:hover{
	background-color: white;
	display:block;
}

.recent_searches{
	width:87.62886597938144%;
	background-color:#2fc1da;
	line-height:42px;
	padding-left:12px;
	padding-right:12px;
	
}
.title{
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
}
.content{
    
	padding-top:15px;
	
	
}
.content ul li{
	font-family: Arial;
	font-size: 12px;
	padding-left:11px;
	padding-right:11px;
}

.content_style{
	margin-bottom:10px;
	position: relative;
    list-style: none;
}

.content_style:first-child{
    list-style: none;
    max-height: 50px;
    position: relative;
}

.content_style a{
	display: block;
	text-decoration: none;
	color: black;
}

.content_style .paragraph{
     display: inline-block;
    width: 122px;
}

.content_style .paragraph_bot{
     display: inline-block;
    width: 150px;
}

.right_main_left{
	width:515px;
    padding: 0 24px 0 26px;
    
	float:left;
}


.entry_title_style{
	font-family:Arial;
	font-size:30px;
	padding:0px;
	margin:-2px;
}
.options-style{
	font-size:11px;
	font-family:Arial;
	list-style-type:none;
	font-weight:bold;
	
}
.options-style li{
	float:left;
	line-height:28px;
	padding: 0px 0px;
}
.options-style a{
	display:block;
	background-image:url("../img/grey.png");
	background-repeat:no-repeat;
	color:white;
	text-decoration:none;
	padding: 0px 2px;
	text-align:center;
}
.option-bottom ul li:hover{
	display: block;
	background-image:url("../img/blue.png");
	background-repeat:no-repeat;
}
.bottom-list{
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	color:white;
	float:left;
}
.bottom-tutangle{
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	color:white;
}



.options{
	
	font-family: Arial;
}
.option_top{
	height:52px;
	width:100%;
	background-image: url('../img/options-bg.png');
	
}
.option_top_left{
	line-height:24.999px;
	width:50%;
	font-size: 18px;
	text-align: center;
	float:left;
	padding-top:14px;
	padding-bottom:14px;
}
.option_top_right{
	line-height:24.999px;
	width:50%;
	float:left;
	font-size: 18px;
	text-align: center;
	padding-top:14px;
	padding-bottom:14px;
}
.option_bottom{
	background-color: #f5f5f5;
	height: 28px;
	width:100%;
	border-bottom: 2px solid #7dd9e8;
}
.option_bottom li{
	list-style: none;
	float: left;
	background-image: url('../img/grey.png');
	line-height: 28px;
	margin: 0 5px;
	white-space: nowrap;
	width: 22.00772200772201%; /*114px*/;
	text-align: center;
	font-size: 11px;

}

.option_bottom .third-child{
    background-image: url('../img/entity_3_03.png');
	margin-left: 10px;
}

.option_bottom li:hover{
    display: block;
	background-image: url('../img/blue.png');
}

.option_bottom a{
	display: block;
	text-decoration: none;
	color: black;
}
.subscribed{
	border-left: 1px solid #595959;
	padding-left: 6px;
	color: green;
}
.selected{
	display: block;
	background-image: url('../img/blue.png');
}



.entries_container{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	
	float: left;
}
.entry_contents{
	padding-bottom: 81px;
	
    border-bottom: 1px solid #d9d9d9;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;

    
	background-repeat:no-repeat;
	background-position: left bottom;
}



.date{
	font-size: 11px;
	color: #595959;
	border-left: 1px solid #595959;
	padding-left: 6px;
	padding-right: 6px;
}
.image_container{
	width:13.51351351351351%;
	float:left;
}
.details_container{
	width:84.55598455598456%;
	float:right;
}
.entries_title{
	position: relative;
    bottom: 5px;
}
.detail_title{
	font-family:Arial;
	font-size: 13px;
	color:#616161;
	font-weight:bold;
	margin-bottom:7px;
    cursor: pointer;
}
.extra{
	font-family:Arial;
	font-size:10px;
	color:#4fafbf;
	font-weight:bold;
	margin-bottom:4px;
}
.red{
	color:#d43e1b;
}
.extra_detail{
	font-family:Arial;
	font-size:11px;
	margin-bottom:5px;
}
.author{
	font-weight:bold;
	color: #4fafbf;
    cursor: pointer;
}
.topic{
	color:#4fafbf;
    cursor: pointer;
}

.right_main_right{
	width: 176px;
    margin-right: 8px;
    height: 604px;
    background-color: #f5f5f5;
	float:right;
}

.right_main_right_video{
	width:100%;
    
}

.right_main_right .title{
	width:86.36363636363636%;
}

.right_main_right .content{
    height: 510px;
}
/* Footer */
.footer_content_left{
	float: left;
}

.footer_content_left ul{
	list-style: none;
}

.footer_content_left ul li{
	float: left;
	font-size: 9px;
	line-height: 45px;
	color: #d4d4d4;
	padding-left: 10px;
	padding-right: 8px;

}

.footer_content_left ul li:first-child{
	background: none;
	padding-left: 0px;
}

.footer_content_left ul li a{
	text-decoration: none;
	color: #d4d4d4;
}

.footer_content_right{
	float: right;
	line-height: 45px;
	color: #d4d4d4;
	font-size: 9px;
	padding: 0 6px;
}

img{
	width:100%;
}

.float-left{
	float:left;
}

.float-right:first-child{
	float:right;
    position: absolute;
    bottom: 14px;
    right: 13px;
    
    
}

.float-right{
    float:right;
    position: absolute;
    bottom: 4px;
    right: 13px;
    
}
