#carousel_container{
    width: 800px;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin: 10px auto;
}
#carousel_image_wrapper{
    position: absolute;
}
#carousel_image_wrapper img{
    width: 800px;
    height: 500px;
    display: block;
    float: left;
}




